/*
@media font and (project_fonts) {
    border: 2px solid black;
}
*/
    
/*CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*FONTS*/
@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold.woff2') format('woff2'),
         url('../fonts/raleway-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextrabold';
    src: url('../fonts/raleway-extrabold.woff2') format('woff2'),
         url('../fonts/raleway-extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextralight';
    src: url('../fonts/raleway-extralight.woff2') format('woff2'),
         url('../fonts/raleway-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light.woff2') format('woff2'),
         url('../fonts/raleway-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium.woff2') format('woff2'),
         url('../fonts/raleway-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular.woff2') format('woff2'),
         url('../fonts/raleway-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('../fonts/raleway-semibold.woff2') format('woff2'),
         url('../fonts/raleway-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*STYLE*/

/*main setting*/
body {
    font-family: ralewayregular;
    font-size: 14px;
}

a {
    text-decoration: none;
}

p {
    line-height: 150%;
}

h2 {
    border-bottom: 7px solid #24baa0;
    width: 320px;
    text-transform: uppercase;
    font-family: ralewaymedium;
    font-size: 16px;
    margin-bottom: 45px;
    padding-bottom: 6px;
}

/*inteactive elements*/
.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}
/*page width*/
.main {
    width: 1052px;
    margin: auto;
}

/*clear for elements*/
.clear {
    clear: both;
}

.color {
    color: #27c7ab;
    font-family: ralewaybold;
}

/*HEADER*/

header {
    background-color: black;
}

header h3, #nav>li>a{
    text-transform: uppercase;
    color: white;
}
header h3 {
    float: left;
    padding: 15px 0;
    font-family: ralewaysemibold;
}


/*navigation*/
#nav {
    float: right;
}

#nav>li {
    padding: 15px;
    display: inline-block;
    font-family: ralewaybold;
    position: relative;
    color: white;
    text-transform: uppercase;
}

.nav_level2 {
    position: absolute;
    top: 55px;
    left: -10px;
    background: black;
    
}

.nav_level2::before {
    content: " ";
    position: absolute;
    top: -25px;
    left: 40px;
    border-left: 15px solid transparent;
    border-top: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid black;
}
.nav_level2 li {
    display: block;
    clear: both;
    padding: 10px 18px 7px 10px;
}

.nav_level2>li>a {
    color: white;
    font-size: 16px;
    font-family: ralewaysemibold;
    text-transform: none;
}


/*SECTION SLIDER*/
.slider_container {
    background: rgba(246,41,12,1)), color-stop(0%, rgba(240,47,23,1)), color-stop(0%, rgba(250,250,250,1)), color-stop(100%, rgba(209,208,214,1)));
    background: -webkit-linear-gradient(top, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(250,250,250,1) 0%, rgba(209,208,214,1) 100%);
    background: -o-linear-gradient(top, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(250,250,250,1) 0%, rgba(209,208,214,1) 100%);
    background: -ms-linear-gradient(top, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(250,250,250,1) 0%, rgba(209,208,214,1) 100%);
    background: linear-gradient(to bottom, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(250,250,250,1) 0%, rgba(209,208,214,1) 100%);
}

.slider_section {
    height: 500px; 
}

.slider img, .slider_text, .slider_click_l {
    float: left;
}
.slider_click_r {
    float: right;
}
.slider_click_l, .slider_click_r {
    color: #27c7ab;
    font-size: 70px;
    margin-top: 210px;
}

.slider img {
    margin-top: 85px;
}

.slider_text {
    text-align: center;
    margin: 130px 0;
}

.slider h1 {
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
}

.slider_text p {
    margin: 40px 0;
    font-size: 16px;
    
}
.slider_button {
    background: #24baa0;
    color: white;
    text-transform: uppercase;
    padding: 16px 33px 16px 46px;
    border-radius: 10px;
    font-size: 16px;
}


/*SECTION PROMO*/
.promo_section {
    margin-top: 22px;
}

.promo_col, .promo_col_text {
    float: left;
    border: 1px solid #dcdcdc;
}

.promo_col {
    position: relative;
    height: 225px;
    margin-right: 20px;
}

.promo_col_text h3 {
    margin: 30px 0 16px 16px;
}

.promo_col_text p {
    margin-left: 16px;
    padding-right: 16px;
}
.promo_col_text p:nth-child(3) {
    margin: 30px 0 45px 16px;
}

/*interactive opacity*/
.promo_opacity {
    height: 62px;
    width: 329px;
    position: absolute;
    bottom: 14px;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255, 0.5);
    float: left;
    visibility: hidden;
}

.promo_opacity h3 {
    margin: 16px 0 22px 13px;
    position: absolute;
}

.promo_opacity h3, .promo_col_text h3 {
    border-bottom: 7px solid #27c7ab;
    width: 138px;
    font-family: ralewaybold;
}


/*SECTION CONTACT*/
.contact_section {
    margin-top: 36px;
}

.contact_form, .contact_submit {
    float: left;
}

.contact_form {
    margin-right: 56px;
}
.contact_form input {
    height: 63px;
    width: 633px;
    border: 1px solid #a3e2d7;
    font-size: 24px;
    padding-left: 16px;
    color: #cecece;
    font-weight: 100;
    font-family: ralewaylight;
    margin-bottom: 25px;
}

.contact_form input:last-child {
    height: 186px;
    margin-bottom: 100px;
}

.contact_submit div {
    margin: 29px 0 34px 0;
}

/*instead of image: button*/
.contact_submit input {
    height: 48px;
    width: 48px;
    opacity: 0.5;
    background-color: white;
    border: 1px solid #24baa0;   
}

.contact_submit p {
    display: inline-block;
    margin-left: 12px;
    position: relative;
    top: -7px;
    color: #aeaeae;
}

.contact_submit input:active {
    background-image: url(../images/form_ok.jpg);
}

.contact_send {
    background-color: #24baa0;
    border-radius: 10px;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    padding: 23px 110px;
    font-family: ralewaysemibold;
}


/*SECTION MONEY*/
.money_container {
    margin-top: 74px;
    padding: 47px 82px 66px;
    background: #f1f1f1;
}

.money_col_1, .money_col_2 {
    float:left;
    width: 331px;
    height: 500px;
    border: 1px solid black;
    position: relative;
    margin-top: 30px;
}

.money_col_1 {
    background: #f9f9f9;
    border: 1px solid #c2c2c2;
}

.money_col_2 {
    background: #27c7ab;
    border: 1px solid #27c7ab;
    margin-left: 25px;
    margin-right: 26px;
}

/*circle div on the top*/
.money_circle_1, .money_circle_2 {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: absolute;
    top: -39px;
    left: 40%;
}

.money_circle_1 {
    background: #c2c2c2;
    border: 14px solid #fff;
    box-shadow: 0 0 0 1px #c2c2c2;
}

.money_circle_2 {
    background: #fff;
    border: 14px solid #27c7ab;
    box-shadow: 0 0 0 1px #27c7ab;
    z-index: 1;
}

/*header in this section*/
.money_col_1 h3, .money_col_2 h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-family: ralewaybold;
    margin: 30px;
}

.money_col_1 h3 {
    color: #27c7ab;
}

.money_col_2 h3 {
    color: #fff;
}

/*circle with amount in this section*/
.money_circle_amount_1, .money_circle_amount_2 {
    border-radius: 50%;
    height: 127px;
    width: 127px;
    margin: 0 100px;
    position: relative;
    text-align: center
}

.money_circle_amount_1 {
    border: 1px solid #c2c2c2;
    background-color: #fff;
    color: #c2c2c2;
}

.money_circle_amount_2 {
    border: 1px solid #27c7ab;
    background-color: #fff;
    color: #27c7ab;
}

.money_circle_amount_1 p, .money_circle_amount_2 p {
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    top: 40px;
    left: 35px
}

.money_circle_amount_1 p span, .money_circle_amount_2 p span {
    font-size: 32px;
    font-weight: 700;
}

/*table in this section*/
.money_table_1, .money_table_2 {
    width: 100%;
    margin-top: 30px;
}

.money_table_1 tr:nth-child(2n+1) {
    height: 43px;
    background: #e4e4e4;
    color: #787878;
}

.money_table_1 tr:nth-child(2n) {
    height: 46px;
    background: #f1f1f1;
    color: #787878;
}

.money_table_2 tr:nth-child(2n+1) {
    height: 43px;
    background: #fff;
    color: #b6b6b6;
}

.money_table_2 tr:nth-child(2n) {
    height: 46px;
    background: #f1f1f1;
    color: #a3a3a3;
}

.money_table_1 tr th, .money_table_2 tr th {
    vertical-align: middle;
    font-size: 20px;
}

/*button in this section*/
.money_button_1, .money_button_2 {
    padding: 11px 28px;
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: 19px;
    position: absolute;
    bottom: 0;
    left: 35%;
    text-transform: uppercase;
    font-weight: 600;
}

.money_button_1 {
    background: #27c7ab;
    color: #fff;
}

.money_button_2 {
    background: #fff;
    color: #27c7ab;
}

/*FOOTER*/
footer p:first-child {
    float: left;
}

.footer_social, .footer_logo {
    float: right;
}

.footer_logo {
    text-transform: uppercase;
    font-weight: 600;
}

.footer_logo span {
    font-weight: 700;
}

.footer_social {
    margin: 0 66px;
}